<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title  class="styled1">About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit tenetur voluptas nam similique iusto velit nihil assumenda at earum facere nisi ex, veniam distinctio delectus eaque consequatur quibusdam vero reprehenderit laudantium, sequi magni tempora. Earum, modi, commodi expedita beatae sit, sed obcaecati voluptates rerum blanditiis incidunt illo enim quidem recusandae esse. Repellendus nemo nostrum architecto, eveniet fuga inventore obcaecati deleniti ducimus officia. Ad ex quasi natus tenetur recusandae adipisci dolorum. Officiis, maiores. Incidunt perspiciatis fugit mollitia delectus accusamus quae, culpa veritatis recusandae laborum? Rem corrupti temporibus et voluptates dicta, harum illum distinctio dolorum cumque, veniam necessitatibus ut dolor laboriosam id.
</ion-content>
