<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end" *ngIf="!isDesktop">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="isDesktop">
      <ion-title class="styled2" routerLink="/dashboard">HOME</ion-title>
      <ion-title class="styled2" routerLink="/about-us">ABOUT US</ion-title>
      <ion-title class="styled2" routerLink="/terms-and-condition">TERMS & CONDITION</ion-title>
      <ion-title class="styled2" routerLink="/contact-us">CONTACT US</ion-title>
    </ion-buttons> -->
    <ion-title  class="styled1">About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit tenetur voluptas nam similique iusto velit nihil assumenda at earum facere nisi ex, veniam distinctio delectus eaque consequatur quibusdam vero reprehenderit laudantium, sequi magni tempora. Earum, modi, commodi expedita beatae sit, sed obcaecati voluptates rerum blanditiis incidunt illo enim quidem recusandae esse. Repellendus nemo nostrum architecto, eveniet fuga inventore obcaecati deleniti ducimus officia. Ad ex quasi natus tenetur recusandae adipisci dolorum. Officiis, maiores. Incidunt perspiciatis fugit mollitia delectus accusamus quae, culpa veritatis recusandae laborum? Rem corrupti temporibus et voluptates dicta, harum illum distinctio dolorum cumque, veniam necessitatibus ut dolor laboriosam id.
</ion-content>
