.roundedCard {
    --ion-background-color: rgba(238, 235, 198, 0.486);
    border-radius: 40px;
    padding: 80px 20px;
    margin: 10px;
}

ion-row.image-margin-padding {
    margin: 20px 0px;
    padding-top: 50px;
}

ion-button.color1 {
    --ion-background-color: #399b24;
}

ion-grid.center {
    height: 100%;
    display: block;
    vertical-align: middle;
}

.margin-bottom {
    margin-bottom: 15px;
}

.icon-yellow {
    color: #fbfb04; 
    font-size: x-large;
}

#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.image {
    max-width: 600px;
    margin: auto;
}

ion-content.background {
    --background: url('../../assets/image/car_image.jpg') 0 0/100% 100% no-repeat;
}

.featured-text {
    font-size: 32px;
    color: #ffffff;
    text-align: center;
}

.large {
    font-size: 72px;
}

.second-large {
    font-size: 48px;
}

.full-width {
    margin-top: 50px;
}

.text-color {
    color: #000000;
    font-size: small;
    font-weight: bold;
  }

.circle-input{
    border-radius: 50px;
    --background: #000000;
    color: #fff;
}

ion-button {
    color: #000000;
    font-size: small;
    font-weight: bold;
}

@media(min-width: 768px) {
    .featured-text {
        text-align: left;
    }
    .full-width {
        margin-top: 100px;
    }
}