ion-content.menu {
    --background: linear-gradient(to bottom right,#152636,#010409);;
}

.header {
    background-color: #399b24;
    padding: 50px;
}

ion-menu ion-content * {
    --background: linear-gradient(to bottom right,#152636,#010409);
}

ion-menu ion-footer * {
    --background:linear-gradient(to bottom right,#152636,#010409);
}

ion-menu-toggle ion-item * {
    color: #fff;
}

ion-menu-toggle ion-item {
    border-bottom: 1px solid #fff;
}

