ion-content.background {
    --background: url('../../assets/image/header-bg.jpg') no-repeat center center fixed;
}

.dummy-text {
    font-size: xx-large;
    color: #ffffff;
}

.roundedCard {
    --ion-background-color: #fff;
    border-radius: 20px;
    padding: 80px 20px;
    margin: 10px;
}

.full-width {
    margin-top: 100px; 
}