<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title class="styled1">Terms and Condition</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, magni possimus repellendus quod voluptatum deleniti beatae architecto unde aut dolores provident impedit facere assumenda maxime a earum. Dolorem eligendi dolore enim tempora exercitationem praesentium, nemo itaque nisi amet ratione nam distinctio, ipsa dolorum nesciunt, dignissimos suscipit aliquid in odio? Ullam, saepe nulla! Non inventore autem architecto possimus, tempora nisi nostrum quae odio? Minus ea deserunt ipsa voluptas architecto nulla voluptatibus suscipit laborum impedit fugit repellendus dignissimos quisquam exercitationem soluta, molestias ad? Aliquid cum sequi maxime eum id, autem, aliquam cumque qui aut, ipsum expedita vero eveniet explicabo molestiae architecto corporis.
</ion-content>
