<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="styled1">
      ETH
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-grid id="container">
    <ion-row class="image-margin">
      <ion-col size="6" offset="3">
        <ion-img src="../../assets/image/logo2.jpg" class="image"></ion-img>
      </ion-col>
    </ion-row>
    <form [formGroup]="form" (submit)="onSubmit()">
      <ion-row>
        <ion-col size="12" offset="0" size-lg="8" offset-lg="2">
          <ion-card class="roundedCard">
            <ion-row>
              <ion-col size="10" offset="1">
                <ion-item class="margin-bottom">
                  <ion-label><ion-icon name="home-outline" slot="icon-only"></ion-icon></ion-label>
                  <ion-input type="text" placeholder="Company Name" formControlName="companyName"></ion-input>
                </ion-item>
                <ion-item class="margin-bottom">
                  <ion-label><ion-icon name="location-outline" slot="icon-only"></ion-icon></ion-label>
                  <ion-textarea placeholder="Address" rows="2" formControlName="address"></ion-textarea>
                </ion-item>
                <ion-item  class="margin-bottom">
                  <ion-label><ion-icon name="mail-outline" slot="icon-only"></ion-icon></ion-label>
                  <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
                </ion-item>
                <ion-item *ngIf="form.get('email').touched && !form.get('email').valid" lines="none">
                  <ion-label color="danger">Invalid Email Address</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="10" offset="1" size-md="5" offset-md="1">
                <ion-button type="submit" color="success" expand="block" shape="round" [disabled]="!form.valid">SignUp</ion-button>
              </ion-col>
              <ion-col size="10" offset="1" size-md="5" offset-md="0">
                <ion-button type="button" expand="block" color="success" shape="round" routerLink="/login">Already have Account</ion-button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </form>
    <ion-row style="margin-top: 30px;">
      <ion-col size="2">

      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <ion-icon name="logo-google" class="icon-yellow"></ion-icon>
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        <ion-icon name="logo-facebook" class="icon-yellow"></ion-icon>
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <ion-icon name="logo-twitter" class="icon-yellow"></ion-icon>
      </ion-col>
      <ion-col size="2">

      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
