<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>User Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-text><strong>User Name: </strong>{{userData?.name}}</ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-text><strong>Car Number: </strong>{{userData?.carNo}}</ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-text><strong>License: </strong>{{userData?.drivingLicense}}</ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-title class="ion-text-center"><strong>Id Proof</strong></ion-title>
        </ion-item>
        <ion-item lines="none">
          <ion-img [src]=[imageUrl+userData?.drivingPhoto]></ion-img>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-text><strong>Rental Company Name: </strong>{{userData?.companyName}}</ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-text><strong>Date of Booking: </strong>{{userData?.dateOfBooking}}</ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text><strong>Return Date: </strong>{{userData?.dateOfReturn}}</ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col size="6" offset="3">
        <ion-button type="button" 
        color="{{userData?.status === 'active' ? 'danger' : 'success'}}" 
        expand="block" shape="round" 
        (click)="onClick()"
        disabled="{{userData?.status === 'active' ? 'false' : 'true'}}"
        >{{userData?.status === 'active' ? 'Renting' : 'Returned'}}
      </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
