<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title  class="styled1">Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam consequuntur veniam sit, neque qui quasi esse mollitia inventore necessitatibus reprehenderit aut quod corrupti unde odio impedit distinctio et ducimus! Ratione alias labore blanditiis quisquam aliquid et nostrum mollitia voluptate consequuntur cum eveniet velit voluptates aperiam recusandae perspiciatis id molestias deleniti a maiores qui, fugit iste. Possimus amet ducimus accusantium incidunt dolorem cupiditate deleniti culpa nobis mollitia porro qui, omnis dignissimos. Quam animi explicabo minus laborum ratione, dignissimos quasi, aspernatur possimus accusantium corrupti eligendi eveniet nihil error sint! Quo itaque hic totam sit illo, magni libero, ea voluptas accusamus neque nam?
</ion-content>
