<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="!isDesktop">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="isDesktop">
      <ion-title class="styled2" routerLink="/dashboard">HOME</ion-title>
      <ion-title class="styled2" routerLink="/about-us">ABOUT US</ion-title>
      <ion-title class="styled2" routerLink="/terms-and-condition">TERMS & CONDITION</ion-title>
      <ion-title class="styled2" routerLink="/contact-us">CONTACT US</ion-title>
      <ion-title class="styled2" (click)="logout()">LOGOUT</ion-title>
    </ion-buttons>
    <ion-title class="styled1">ETH</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="background">
<ion-grid class="full-width">
  <ion-row>
    <ion-col size-sm="6">
      <ion-img src="../../assets/image/user.png" routerLink="/home"></ion-img>
    </ion-col>
    <ion-col size-sm="6">
      <ion-img src="../../assets/image/rent.png" routerLink="/inactive-users"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-sm="6">
      <ion-img src="../../assets/image/register.png" routerLink="/new-entry"></ion-img>
    </ion-col>
    <ion-col size-sm="6">
      <ion-img src="../../assets/image/search.png" routerLink="/search-page"></ion-img>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>


<!-- <div class="image-padding">
  <ion-img src="../../assets/image/logo3.jpg"></ion-img>
</div> -->

<!-- <ion-row>
  <ion-col size="6">
    <ion-card class="ion-text-center icon-padding background" routerLink="/home">
      <ion-icon name="people-outline" class="large-icons"></ion-icon>
      <h6 class="ion-no-margin">Users</h6>
    </ion-card>
  </ion-col>
  <ion-col size="6">
    <ion-card class="ion-text-center icon-padding background" routerLink="/inactive-users">
      <ion-icon name="reader-outline" class="large-icons"></ion-icon>
      <h6 class="ion-no-margin">Rent History</h6>
    </ion-card>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size="6">
    <ion-card class="ion-text-center icon-padding background" routerLink="/new-entry">
      <ion-icon name="person-add-outline" class="large-icons"></ion-icon>
      <h6 class="ion-no-margin">Register</h6>
    </ion-card>
  </ion-col>
  <ion-col size="6">
    <ion-card class="ion-text-center icon-padding background" routerLink="/search-page">
      <ion-icon name="search-outline" class="large-icons"></ion-icon>
      <h6 class="ion-no-margin">Search</h6>
    </ion-card>
  </ion-col>
</ion-row> -->