ion-icon.large-icons {
    font-size: 48px;
    color: #fbfb04;
}
.icon-padding{
    padding: 30px 5px;
}

.grid-padding {
    padding: 30px 10px;
}

ion-col ion-img {
    margin: 0 auto;
    padding: 5px;
    cursor: pointer;
}

ion-content.background {
    --background: url('../../assets/image/car_image.jpg') 0 0/100% 100% no-repeat;
}

.full-width {
    margin-top: 100px;
}

@media(min-width: 768px) {
    ion-col ion-img {
        padding: 20px;
    }
    .full-width {
        margin-top: 50px;
    }
}