div.image-padding {
    background: linear-gradient(to bottom right,#152636,#010409);
    padding: 40px 10px;
}

ion-icon.large-icons {
    font-size: 48px;
    color: #fbfb04;
}
.icon-padding{
    padding: 30px 5px;
}

.grid-padding {
    padding: 30px 10px;
}

div ion-img {
    max-width: 800px;
    margin: 0 auto; 
}