<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <diV>
      <ion-img src="../../assets/image/logo2.jpg"></ion-img>
    </diV>
    <!-- <ion-title class="styled1">
      ETH
    </ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="!isLoading" class="background">
  <ion-searchbar inputmode="text" animated="true" #user (ionChange)="searchUser(user)"></ion-searchbar>
  <ion-card class="roundedCard">
    <ion-list *ngIf="!isSearching">
      <ion-item *ngFor="let user of arr" [routerLink]="[user?.id]">
        <ion-thumbnail slot="start">
          <ion-img [src]="imageUrl+user?.drivingPhoto"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h3 class="ion-text-capitalize">{{user?.name}}</h3>
          <p>{{user?.carNo}}</p>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="!arr.length">
        <ion-title class="ion-text-center">No User Found</ion-title>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="isSearching">
      <ion-item *ngFor="let user of searchArray" [routerLink]="[user?.id]">
          <ion-thumbnail slot="start">
            <ion-img [src]="imageUrl+user?.drivingPhoto"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <p>Hello this is {{user?.companyName | uppercase}}</p>
            <h3 class="ion-text-capitalize">{{user?.name}}   ID #{{user?.id}}</h3>
            <p>{{user?.carNo}}</p>
            <p>Active *</p>
          </ion-label>
        </ion-item>
      <ion-item *ngIf="!searchArray.length">
        <ion-title class="ion-text-center">No User Found</ion-title>
      </ion-item> 
    </ion-list>
  </ion-card>
  
  <!-- <ion-infinite-scroll threshold="25%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="dots"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
  
</ion-content>
